body {
  height: 100%;
  width: 100%;
  background-color: turquoise;
  font-family: Courier, monospace;
  /* overflow: hidden; */
}

.score{
  font-size: 20px;
  font-weight: bold;
  width: 800px;
  margin-left: 125px;
  color: white;
  text-decoration: none;
}
.name{
  font-size: 25px;
  text-decoration-line: underline;
}
.instructions{

}
