body {
  margin: 20px;
  font-size: 30px;
  text-align: left;
}
.score{
  font-size: 20px;
  font-family: Courier, monospace;
  width: 800px;
  margin-left: 125px;
}
.growth{
  font-size: 25px;
  background-color: turquoise;
  text-decoration-line: underline;
}
.treetrunk{
  position: absolute;
  align-items: center;
  left: 281px;
  top: 25px;
  z-index: +1;
  height: 300px;
  width: 57px;
  background-color: rgb(67,34,13);
}
.instruction{
  font-size: 20px;
  background-color: rgb(204, 67, 74);
}
.opener{
  font-size: 15px;
  background-color: rgb(50, 168, 82;)
}
