body {
  margin: 20px;
  font-size: 30px;
  text-align: left;
  overflow:hidden;
  background: #b5b5b5;
}
.li{
  list-style-type: circle;
}
.score{
  font-size: 20px;
  font-weight: bold;
  font-family: Courier, monospace;
  width: 800px;
  margin-left: 125px;
  color: white;
  text-decoration: none;
}
.growth{
  font-size: 25px;
  background-color: turquoise;
  text-decoration-line: underline;
}
#treetrunk{
  position: absolute;
  align-items: center;
  left: 281px;
  top: 25px;
  z-index: +1;
  height: 300px;
  width: 57px;
  background-color: rgb(67,34,13);
}
#umbrella{
  max-height: 200px;
  max-width: 200px;
  cursor: grab;
}
.li{
  list-style-type: circle;
}
/* "Instructions" button style*/
#opener{
  font-size: 18px;
  color: white;
  background-color: #7B9439; /*Green*/
  align-content: center;
  padding: 15px 40px;
  cursor: grab;
  border-radius: 12px;
  margin-left: 125px;
}
/* Popup of list of instructions */
#dialog{
  font-family: Courier, monospace;
  font-size: 15px;
  background: rgb(150, 101, 68);
  border: 2px solid #b5b5b5;
  color: #FFFFFF;
  cursor:
}
.drop {
  background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(13,52,58,1) ), to(rgba(255,255,255,0.6))  );
  background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(255,255,255,.6) 100%);
	width:1px;
	height:89px;
	position: absolute;

	-webkit-animation: fall .63s linear infinite;
  -moz-animation: fall .63s linear infinite;

}
.rain{
  position:absolute;
  z-index:5;
  width:480px;
  height:360px;
  top: 20px;
  left: 20px;
  pointer-events: none;
}

/* animate the drops*/
@-webkit-keyframes fall {
	to {margin-top:360px;}
}
@-moz-keyframes fall {
	to {margin-top:360px;}
}
