body {
  height: 100%;
  width: 100%;
  background-color: turquoise;
  font-family: Courier, monospace;

}

.score{
  font-size: 20px;
  font-weight: bold;
  width: 800px;
  margin-left: 125px;
  color: white;
  text-decoration: none;
}
.instructions{
  font-style: normal;
  font-family:Georgia;
  font-size: 20px;
  text-decoration: underline;
}
#click-to-begin {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}
#wifiLogo {
  align-items: center;
  height: 150%;
  width: 150%;
}
#dialog{
  font-family: Courier, monospace;
  font-size: 15px;
  background: rgb(150, 101, 68);
  border: 2px solid #b5b5b5;
  color: #FFFFFF;
  cursor:
}
