body {
  height: 100%;
  width: 100%;
  font-family: Courier, monospace;
  background-color: black;
  color: white;
}
.instructions{
  font-style: normal;
  font-family:Georgia;
  font-size: 20px;
  text-decoration: underline;
}
#click-to-begin {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}
#wifiLogo {
  /* position: absolute; */
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  height: 480px;
  width: 480px;
}
#loading {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: 150px;
  cursor: grab;
}
/* "Instructions" button style from jQuery UI*/
#opener{
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  font-size: 18px;
  color: black;
  background-color: #b5b5b5; /*Green*/
  padding: 15px 40px;
  cursor: grab;
  border-radius: 12px;
}
/* Popup of list of instructions from jQuery UI */
#dialog{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  font-family: Courier, monospace;
  font-size: 15px;
  background: rgb(148, 148, 148);
  border: 2px solid #b5b5b5;
  color: #FFFFFF;
  cursor: grab;
}
