body {
  height: 100%;
  width: 100%;
  font-family: Courier, monospace;
  background-color: black;
  color: white;
}
.instructions{
  font-style: normal;
  font-family:Georgia;
  font-size: 20px;
  text-decoration: underline;
}
#click-to-begin {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}
#wifiLogo {
  /* position: absolute; */
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  height: 480px;
  width: 480px;
}
#loading {
  align-items: center;
  margin-left: 43%;
  height: 150px;
  width: 150px;
  cursor: grab;
}
/* "Instructions" button style from jQuery UI*/
#opener{
  margin-left: 40%;
  align-items: center;
  font-size: 18px;
  color: black;
  background-color: #b5b5b5;
  padding: 15px 40px;
  cursor: grab;
  border-radius: 12px;
}
/* Popup of list of instructions from jQuery UI */
#dialog{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  font-family: Courier, monospace;
  font-size: 15px;
  background: rgb(148, 148, 148);
  border: 2px solid #b5b5b5;
  color: #FFFFFF;
  cursor: grab;
}
#bookShelf{
  cursor: grab;
  margin-left: 30%;
  align-items: center;
  height: 50%;
  width: 50%;
}
.Youtube{
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.videoContainer{
  margin-left: 25%;
}
.books{
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.pieces{
  border:1px solid white;
  padding: 0.5em;
  display: grid;
  grid-template-columns: auto auto;
  float: left;
  display: block;
  margin: 10px 10px 10px 0;
}
#pieceOne{
  border:white;
  float: left;
  display: block;
  margin: 10px 10px 10px 0;
  cursor: grab;
}
#pieceTwo{
  border: white;
  float: left;
  display: block;
  margin: 10px 10px 10px 0;
  cursor: grab;
}
#pieceThree{
  border: white;
  float: left;
  display: block;
  margin: 10px 10px 10px 0;
  cursor: grab;
}
#pieceFour{
  border: white;
  float: left;
  display: block;
  margin: 10px 10px 10px 0;
  cursor: grab;
}
#pieceFive{
  border: white;
  float: left;
  display: block;
  margin: 10px 10px 10px 0;
  cursor: grab;
}
#pieceSix{
  border: white;
  float: left;
  display: block;
  margin: 10px 10px 10px 0;
  cursor: grab;
}
.puzzleContainer{
  background-color: ##b3b3b3;
  border:1px solid white;
  display: grid;
  grid-template-columns: auto auto;
  width: 323px;
  height: 245px;
}
#next{
  margin-left: auto;
  font-size: 18px;
  color: black;
  background-color: #b5b5b5;
  padding: 15px 40px;
  cursor: grab;
  border-radius: 10px;
  display: block;
  float: right;
}
