body {
  font-family: Courier, monospace;
  width: 800px;
  margin-left: 100px;
  margin-top: 100px;
}

/* Redacted elements need to be blanked out */
.redacted {
  background-color: black; /* Black background */
  color: transparent; /* Invisible text so it can't be selected and seen! */
  text-decoration: none; /* Simple text */
}

/* Revealed elements need to be highlighted because it's a disaster! */
.revealed {
  background-color: transparent; /* No background */
  text-decoration: underline; /* underlined! */
  color: red; /* Emergency! */
}
.found{
  background-color: pink;
  text-decoration-line: underline;
  color: black;
}
.total{
  background-color: pink;
  text-decoration-line: underline;
  color: black;
}
.secret{
  color: black;
  text-decoration-line: underline;
  text-decoration-style: double;
}
.secretsTotalNumber{
  background-color: yellow;
  text-decoration: none;
  color: black;
}
